<!DOCTYPE html>
<html>

<head>
    <title>
        Person CRUD - GNSMK
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script>
        angular.module('myApp', []).controller('myCtrl', function ($scope, $http) {
            $scope.isupdate = false;
            $http.get("https://person-crud.herokuapp.com/r/getAll/").then(function (response) { $scope.listempty = (($scope.listpersons = response.data).length == 0); });
            $scope.delete = function (id) { $http.get("https://person-crud.herokuapp.com/r/delete/" + id).then($("#div" + id).remove()); }
            $scope.edit = function (id) { $http.get("https://person-crud.herokuapp.com/r/getOne/" + id).then(function (response) { $scope.isupdate = response != null; $scope.oldperson = response.data; }); }
            $scope.update = function (id) { $http.post("https://person-crud.herokuapp.com/r/update", ({ name: $scope.oldperson.name, age: $scope.oldperson.age, id: $scope.oldperson.id }), function (response) { $scope.isupdate = response == null; location.reload(); }); }
            $scope.add = function () { $http.post("https://person-crud.herokuapp.com/r/add", ({ name: $scope.uname, age: $scope.uage }), location.reload()); }
        });
    </script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div class="container well" ng-hide="isupdate">
        <input type="text" ng-model="uname" class="w3-third form-control" placeholder="Person Name" style="margin:1%; width:40%"
            autofocus required/>
        <input type="text" ng-model="uage" class="w3-third form-control" placeholder="Person Age" style="margin:1%; width:40%" required/>
        <input type="button" ng-click="add()" class="w3-third btn btn-primary btn-md" style="margin:1%; width:5%" value="Add Person"
        />
    </div>
    <div class="container well ng-hide" ng-show="isupdate">
        <p class="form-control w3-third" style="margin:1%; width:5%">{{oldperson.id}}</p>
        <input type="text" ng-model="oldperson.name" class="form-control w3-third" style="margin:1%; width:37%" autofocus required/>
        <input type="text" ng-model="oldperson.age" class="form-control w3-third" style="margin:1%; width:37%" required/>
        <input type="button" style="margin:1%; width:5%" ng-click="update(oldperson.id)" class="btn btn-primary btn-md w3-third"
            value="Update Person" />
    </div>
    <div class="container well">
        <p ng-show="listempty" style="text-align-last:center; color:grey">List Empty</p>
        <div ng-hide="listempty" ng-repeat="x in listpersons" id="div{{x.id}}">
            <p class="w3-third form-control" style="margin:1%; width:40%">{{x.name}}</p>
            <p class="w3-third form-control" style="margin:1%; width:40%">{{x.age}}</p>
            <input type="button" style="margin:1%; width:5%" ng-click="edit(x.id)" value="Edit" class="btn btn-warning btn-md w3-third"
            />
            <input type="button" style="margin:1%; width:5%" ng-click="delete(x.id)" value="Delete" class="btn btn-danger btn-md w3-third"
            />
        </div>
    </div>
</body>

</html>